.bgIs {background-color: #00bfff;}
body { font-family: "Circle","Lucida Sans Unicode", "Lucida Grande", sans-serif !important;}
.myhr {
    width: 0% !important;
    height: 5px !important;
}
.brad {border-radius:5%;}